/* Rounded */
.j-round {
  border-radius: .5rem !important;
}
.j-rounder {
  border-radius: 1rem !important;
}

/* Hover */
.j-hover {
  box-shadow: 0 0 2px -1px;
  transition: .05s;
}
.j-hover:hover {
  box-shadow: 0 0 8px -1px;
  transition: .05s;
}

/* Raised */
.j-raised {
  box-shadow: 0 0 3px 0;
}
.j-raiseder {
  box-shadow: 0 0 6px 0;
}
.j-raisedest {
  box-shadow: 0 0 12px 0;
}
