@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import './j-directives.css';
@import './gap.css';

a {
  text-decoration: none;
  color: rgb(var(--v-theme-primary-darken-1))
}

.hide-on-print {
  @media print {
    display: none !important;
  }
}